/**
    Name: Muhammad Arief Bin Mohd Rafie
     Matric No: SX210497ECJHS04
     Quiz 2: page3.css
     Date: 9 Jan 2022
**/

.header {
    padding: 60px;
    text-align: center;
    background: #1a73bc;
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.topnav {
    background-color: rgb(202, 189, 74);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}
.topnav a.active {
    background-color: #a32851;
    color: white;
}