/**
     Name: Muhammad Arief Bin Mohd Rafie
     Matric No: SX210497ECJHS04
     Lab 4: CSS 1 
     Date: 10 Jan 2022
**/

 /**Activity 2g2*/
a:link{
    color: blue;
}
a:visited{
    color:green;
}
a:active{
    color:red;
}