/*
Name: Muhammad Arief Bin Mohd Rafie
Matric No: SX210497ECJHS04
Assignment 1: HTML & CSS
Date: 16 Dec 2021
*/

h1{
    color: blue;
    font-size: 48px;
    text-shadow: 5px 3px red;
}
h4{
    color: rgb(255, 0, 0);

}
div.first {
    background-color: rgb(89, 194, 89);
    opacity: 0.7;
}
img {
    border-radius: 25%;
    max-width: 100%;
    height: auto;
}
b{
    color: rgb(37, 107, 27);
}
a{
    color: rgb(214, 30, 122);
}
a.first{
    color: rgb(0, 17, 253);
    font-style: italic;
}